* {
  /*TODA LA VENTANA DE LA PAGINA*/
  margin: 0; /*Eliminar todo el margen que tiene la página por default*/
  box-sizing: border-box; /*Es una propiedad que cuando se agrega margin, padding o border en los elementos no crezca más alla del tamaño que le demos*/
}

html {
  /*SOBRE LA ESTRUCTURA DE HTML*/
  scroll-behavior: smooth; /*Un deslizamiento de la pagina mas suave*/
}
/*El CUERPO DE LA PAGINA*/
body {
  font-family: "Poppins", "Arial"; /*Fuente de la letra sobre la página*/
  margin: 0; /*Ancho del body de la página*/
}

/*TITULO DE LA PÁGINA*/
h1 {
  border: 2px dashed rgb(0, 255, 81); /*Borde para identificarlo*/
  font-size: 1.9em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 15px;
  padding: 8px;
}
#imgLogoDisney {
  height: 50px;
  margin-right: 15px;
}
/*SUBTITULO DE BIENVENIDA*/
h2 {
  border: 2px dashed red;
  font-size: 1.6em;
  text-align: center;
  margin: 15px;
  padding: 8px;
}
/*TEXTO DE BIENVENIDA*/
#parrafoBienvenidos {
  border: 2px dashed rgb(63, 58, 58); /*Borde para identificarlo*/
  font-size: 0.9em;
  text-align: center;
  margin: 15px;
  padding: 8px;
}

/*CONTENEDORES*/
.container {
  max-width: 1400px;
  margin: auto;
}

/*ENCABEZADO */
header {
  /*ESTILO PARA PANTALLA DE ESCRITORIO*/
  max-height: 100vh; /*El elemento va a ocupar toda la altura visible del navegador*/
  background: radial-gradient(
    92.68% 92.68% at 50% 69.48%,
    #12bbf0 17%,
    #0180cb 66%,
    #01387f 100%
  ); /*Fondo*/
  width: 100%;
}
/*CONTENDER (DIV) DE HEADER*/
header .container {
  /*ESTILO MOBILE FIRST*/
  display: flex; /*El contendeor sea flexible*/
  align-items: center; /*Alineación de los hijos en el eje vertical*/
  justify-content: center; /*Alineación de los hijos en el eje horizontal*/
  flex-direction: column;
  /*flex-direction: row;*/ /*DESKTOP: Direccion horizontal hacia la derecha*/
}
/*CONTENEDOR DE LOS TEXTOS DEL ENCABEZADO*/
header .text-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*BOTON PARA CONOCER A LAS MASCOTAS*/
#btnConocelos {
  background-color: #ffb80d; /*Color de fondo del boton*/
  color: white; /*Color del texto del boton*/
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none; /*Es un botón que direcciona a una sección de la página y por defecto le pone un subrayado*/
  cursor: pointer; /*El cursor se vuelve una mano al posicionarse sobre el botón*/
  border-radius: 95px; /*Borde redondeado*/
  /*border: 2px solid rgba(199, 16, 46, 0.5);*/
  margin: 15px;
  padding: 10px 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#btnConocelos:hover {
  background-color: #d39401;
}
/*CONTENEDOR DE LA IMAGEN DEL CASTILLO*/
/*header .disney-castle{
    display: flex;
    margin: 15px;
    /*display: none;*/ /*Para que no se vea el elemento en la página*/
/*}*/
/*IMAGEN DEL CASTILLO*/
/*.castle{*/
/*width: 30px;*/ /*Ancho de la imagen*/
/*}*/

/*MAIN-BARRA DE FILTRO, BOTONES DE ORDENAR*/
main {
  /*border: 2px solid rgb(255, 0, 217);*/ /*para chequear como se está moviendo*/
  width: auto; /*para que vaya acorde al body*/
  background-color: #e4f3ff;
}
main .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*BARRA DE FILTRO Y ORDENADO*/
#div-filtro-ordenar {
  height: 35px;
  /*height: 40px;*/ /* DESKTOP Altura de la barra*/
  width: 100%; /*para que vaya acorde a main*/
  background-color: #d1ebff; /*color del fondo*/
  box-shadow: 0px 6px 6.2px rgba(0, 0, 0, 0.25); /*sombra*/
  display: flex; /*Display flexible*/
  flex-direction: row-reverse; /*Direccion horizontal hacia la derecha*/
  align-items: center; /*Alineación de los hijos en el eje vertical*/
  justify-content: center; /*Alineación de los hijos en el eje horizontal los elementos se distribuyen uniformemente en la línea*/
}
/*ELEMENTOS DEL FILTRO Y ORDENAR*/
#div-filtroy-ordenar {
  /*border: 2px dashed red;*/
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: 1118px;
  max-width: 1118px;
}
/*CONTENEDOR DEL FILTRO*/
#div-filtro {
  display: flex; /*contenedor flexible*/
  flex-wrap: wrap; /*para que se acomode conforme se muevan los demás elementos*/
  align-items: center; /*los elementos (texto e icono) se alineen al centro de manera vertical*/
}
/*ETIQUETA DEL ICONO FILTROS*/
.label-filtro {
  /*background-color: #f7dc56; */ /*para que tenga el mismo color que la barra de filtro y orden*/
  border: none; /*para que no tenga bordes*/
  padding: 0px;
  font-family: "Poppins";
  font-weight: bold; /*pone en negrita la letra*/
  font-size: 16px; /*tamaño de la letra*/
  color: #0180cb;
  display: none;
}
/*BOTON DE FILTRO*/
#filter {
  background-color: #d1ebff; /*para que tenga el mismo color que la barra de filtro y orden*/
  border: none; /*para que no tenga bordes*/
  padding: 0px;
  font-family: "Poppins";
  font-weight: bold; /*pone en negrita la letra*/
  font-size: 16px; /*tamaño de la letra*/
  color: #0180cb;
}
/*ICONOS DE FILTRO Y ORDENAR*/
i {
  color: #ffb80d; /*color del icono*/
  font-size: 22px; /*tamaño de icono, funciona como una fuente, no como una imagen, por lo que no se le puede aplicar ancho y/o alto*/
  /*padding-right: 10px;*/
  padding: 5px; /*Separación del acolchado*/
  border: 2px solid #ffb80d; /*Borde para que se distingan los botones*/
  border-radius: 5px; /*El objetivo es poder poner en redondo los iconos de ordenar y en cuadraro el de filtro*/
  cursor: pointer; /*El cursor se vuelve una mano al posicionarse sobre el botón*/
}
#btn-stats {
  border-radius: 95px;
}
/*CONTENEDEOR DE BOTONES ORDENAR*/
#div-ordenar {
  display: flex; /*contenedor flexible*/
  flex-wrap: wrap; /*para que se acomode conforme se muevan los demás elementos*/
  align-items: center; /*los elementos (texto e icono) se alineen al centro de manera vertical*/
  border: none; /*para que no tenga bordes*/
  gap: 12px; /*Espacio entre los botones y el texto*/
}
/*BOTONES DE ORDENAR*/
#btnUp,
#btnDown {
  background-color: #d1ebff; /*para que tenga el mismo color que la barra de filtro y orden*/
  border: none; /*para que no tenga bordes*/
  padding: 0px;
}
/*ETIQUETA DE ORDENAR*/
#label-ordenar {
  font-family: "Poppins";
  font-weight: bold; /*pone en negrita la letra*/
  font-size: 16px; /*tamaño de la letra*/
  color: #0180cb;
  display: none; /*Version mobile*/
}

/*MENÚ DE FILTROS FUNCIONALES*/
nav .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/*PARRAFO DE FILTRA A LAS MASCOTAS*/
#filtra {
  background-color: #f7dc56; /*para que tenga el mismo color que la barra de filtro y orden*/
  border: none; /*para que no tenga bordes*/
  padding: 0px;
  font-family: "Poppins";
  font-weight: bold; /*pone en negrita la letra*/
  font-size: 16px; /*tamaño de la letra*/
  color: #045a8c;
}
/*ETIQUETAS DE CADA FILTRO*/
.label {
  font-family: "Poppins";
  font-weight: bold; /*pone en negrita la letra*/
  font-size: 16px; /*tamaño de la letra*/
  color: #0180cb;
  cursor: pointer;
  font-size: 0.8em;
}
/*BOTON LIMPIAR FILTROS*/
#btnClear {
  padding: 10px 20px;
  background-color: #ffb80d; /*Color de fondo del boton*/
  color: white; /*Color del texto del boton*/
  border-radius: 5px; /*Borde redondeado*/
  cursor: pointer; /*El cursor se vuelve una mano al posicionarse sobre el botón*/
  margin: 15px;
  font-size: 0.8em;
  font-weight: bold;
  border: 2px solid rgba(199, 16, 46, 0.5);
  text-decoration: none;
}
#btnClear:hover {
  background-color: #d39401;
}

/*TARJETAS*/
#root {
  padding: 0px;
  /*border: 2px solid black;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}
.flex-container {
  list-style: none;
  padding: 0px;
  /*border: 2px dashed red;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*width: 1400px; 
    max-width: 1400px;*/
  width: auto;
  flex-wrap: wrap;
  gap: 40px;
}

/*TARJETAS INDIVIDUALES - TEXTO*/
#text-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  /*flex-basis: 280px;*/
  gap: 10px;
  width: 343px;
  max-width: 343px;
  height: 644px;
  max-height: 644px;
  background-color: #ffffff;
  border-radius: 70px;
  box-shadow: 0px 3px 9.7px 3px rgba(0, 0, 0, 0.27);
}
#text {
  display: flex;
  width: 280px;
  max-width: 280px;
  height: 280px;
  max-height: 280px;
  border: 1px solid;
}
#textoDeTarjetas {
  color: #333333;
  font-size: 14px;
  border: 1px solid red;
}
#spanName {
  color: #ffb80d;
  font-weight: bold;
  font-size: 20px;
}
.spanFacts {
  color: #01387f;
  font-weight: bold;
}
.spanFunFact {
  font-style: italic;
}
.fun-fact {
  color: #01387f;
  font-weight: bold;
  font-style: italic;
}

/*IMAGENES*/
#divFondoPersonaje {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: beige;
  /* border: 1px solid; */
  border-radius: 70px 70px 0px 0px;
  max-width: 100%;
  height: 50%;
  max-height: 50%;
}
.imgPersonaje {
  display: flex;
  max-width: 100%;
  object-fit: cover;
  height: 75%;
  max-height: 75%;
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 40px;
  background: radial-gradient(
    92.68% 92.68% at 50% 69.48%,
    #12bbf0 17%,
    #0180cb 66%,
    #01387f 100%
  );
}
footer p {
  font-size: 0.75em;
  text-align: center;
  padding: 3px;
  margin: 0px;
}
@media (min-width: 720px) {
  /*Cuando la pantalla supere los 720px se ejecturaran las siguientes condiciones*/
  header .container {
    /*Para esta parte es importante usar los mismos selectores que se han utilizado anteriormente*/
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  /*#barraDeFiltroYOrden {          /*Fijar la barra de filtros
         position: fixed;
         width: 100%;
    }*/
  /*header .disney-castle{            /*Visualizar la imagen cuando es pantalla grande 
        background-image: url("https://raw.githubusercontent.com/Susana-equihua/DEV015-dataverse/main/Disney%20pets/castillo%20de%20disney%20-%20header.png");
    }*/
  .flex-container {
    flex-direction: row;
  }
  #root {
    flex-direction: column;
  }
  nav .container {
    display: flex;
    flex-direction: row;
  }
  #divFiltroyOrdenar {
    padding: 5px;
  }
  .labelFiltro {
    display: block;
  }
  #btnOrdenar {
    display: block;
  }
}
