* {
  /*TODA LA VENTANA DE LA PAGINA*/
  margin: 0; /*Eliminar todo el margen que tiene la página por default*/
  box-sizing: border-box; /*Es una propiedad que cuando se agrega margin, padding o border en los elementos no crezca más alla del tamaño que le demos*/
}

html {
  /*SOBRE LA ESTRUCTURA DE HTML*/
  scroll-behavior: smooth; /*Un deslizamiento de la pagina mas suave*/
}
/*El CUERPO DE LA PAGINA*/
body {
  font-family: "Poppins", "Arial"; /*Fuente de la letra sobre la página*/
  margin: 0; /*Ancho del body de la página*/
}

/*TITULO DE LA PÁGINA*/
h1 {
  /*border: 2px dashed rgb(0, 255, 81); /*Borde para identificarlo*/
  font-size: 1.9em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 15px;
  padding: 8px;
}
#imgLogoDisney {
  height: 50px;
  margin-right: 15px;
}
/*SUBTITULO DE BIENVENIDA*/
h2 {
  /*border: 2px dashed red;*/
  font-size: 1.6em;
  text-align: center;
  margin: 15px;
  padding: 8px;
}
/*TEXTO DE BIENVENIDA*/
#parrafoBienvenidos {
  /*border: 2px dashed rgb(63, 58, 58); /*Borde para identificarlo*/
  font-size: 0.9em;
  text-align: center;
  margin: 15px;
  padding: 8px;
}

/*CONTENEDORES*/
.container {
  max-width: 1400px;
  margin: auto;
}

/*ENCABEZADO */
header{         /*ESTILO PARA PANTALLA DE ESCRITORIO*/                                    
    height: 100vh;                              /*El elemento va a ocupar toda la altura visible del navegador*/
    background: radial-gradient(92.68% 92.68% at 50% 69.48%, #12BBF0 17%, #0180CB 66%, #01387F 100%); /*Fondo*/
    width: 100%;
    background-image: url(https://raw.githubusercontent.com/Susana-equihua/DEV015-dataverse/main/Disney%20pets/background_main-head.jpg);
}
/*CONTENDER (DIV) DE HEADER*/
header .container {
  /*ESTILO MOBILE FIRST*/
  display: flex; /*El contendeor sea flexible*/
  align-items: center; /*Alineación de los hijos en el eje vertical*/
  justify-content: center; /*Alineación de los hijos en el eje horizontal*/
  flex-direction: column;
  /*flex-direction: row;*/ /*DESKTOP: Direccion horizontal hacia la derecha*/
}
/*CONTENEDOR DE LOS TEXTOS DEL ENCABEZADO*/
header .text-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*BOTON PARA CONOCER A LAS MASCOTAS*/
#btnConocelos {
  background-color: #ffb80d; /*Color de fondo del boton*/
  color: white; /*Color del texto del boton*/
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none; /*Es un botón que direcciona a una sección de la página y por defecto le pone un subrayado*/
  cursor: pointer; /*El cursor se vuelve una mano al posicionarse sobre el botón*/
  border-radius: 95px; /*Borde redondeado*/
  /*border: 2px solid rgba(199, 16, 46, 0.5);*/
  margin: 15px;
  padding: 10px 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#btnConocelos:hover {
  background-color: #d39401;
}


/*MAIN-BARRA DE FILTRO, BOTONES DE ORDENAR*/
main {
    /*border: 2px solid rgb(255, 0, 217);*/                    /*para chequear como se está moviendo*/
    width: 100%;                                  /*para que vaya acorde al body*/
    background-color: #E4F3FF;
}
/*CONTENEDOR DEL MAIN*/
/*main .container{
    border: 2px solid rgb(36, 152, 241); 
    display: flex;
    justify-content: center;
    align-items: center;
}*/
/*ELEMENTOS DEL FILTRO Y ORDENAR*/
/*BARRA DE FILTRO Y ORDENADO*/
#barra-filtro-ordenar {
    /*border: 2px dashed red;*/
    height: 4.5vh;                                     /*Largo de la barra*/
    width: 100%;                                  /*para que vaya acorde a main*/
    padding: 3vw;
    background-color: #D1EBFF;                  /*color del fondo*/
    box-shadow: 0px 6px 6.2px rgba(0, 0, 0, 0.25); /*sombra*/
    display: flex;                                /*Display flexible*/
    flex-direction: row-reverse;                          /*Direccion horizontal hacia la derecha*/
    align-items: center;                          /*Alineación de los hijos en el eje vertical*/
    justify-content: space-between;                   /*Alineación de los hijos en el eje horizontal los elementos se distribuyen uniformemente en la línea*/
}
/*ICONOS DE FILTRO Y ORDENAR*/
i {
    color: #FFB80D;                             /*color del icono*/
    font-size: 15px;                              /*tamaño de icono, funciona como una fuente, no como una imagen, por lo que no se le puede aplicar ancho y/o alto*/
    padding: 5px;                                 /*Separación del acolchado*/
    border: 2px solid #FFB80D;                  /*Borde para que se distingan los botones*/
    border-radius: 100px;                           /*El objetivo es poder poner en redondo los iconos de ordenar y en cuadraro el de filtro*/
    cursor: pointer;                              /*El cursor se vuelve una mano al posicionarse sobre el botón*/
    /*box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);*/
}
/*CONTENEDOR DEL FILTRO*/
#div-filtro {
  display: flex; /*contenedor flexible*/
  flex-wrap: wrap; /*para que se acomode conforme se muevan los demás elementos*/
  align-items: center; /*los elementos (texto e icono) se alineen al centro de manera vertical*/
}
/*BOTON DE FILTRO*/
#btn-filter{
    background-color: #D1EBFF;                  /*para que tenga el mismo color que la barra de filtro y orden*/
    border: none;                                 /*para que no tenga bordes*/
    padding: 0px;
    font-family: 'Poppins';
    font-weight: bold;                            /*pone en negrita la letra*/
    font-size: 16px;                              /*tamaño de la letra*/
    color: #0180CB;
}
/*ETIQUETA DEL ICONO FILTRO*/
.label-filtro{
    display: none;
}
/*CONTENEDEOR DE BOTONES ORDENAR*/
#div-ordenar {
  display: flex; /*contenedor flexible*/
  flex-wrap: wrap; /*para que se acomode conforme se muevan los demás elementos*/
  align-items: center; /*los elementos (texto e icono) se alineen al centro de manera vertical*/
  border: none; /*para que no tenga bordes*/
  gap: 12px; /*Espacio entre los botones y el texto*/
}
/*BOTONES DE ORDENAR*/
#btnUp,
#btnDown {
  background-color: #d1ebff; /*para que tenga el mismo color que la barra de filtro y orden*/
  border: none; /*para que no tenga bordes*/
  padding: 0px;
}
/*ETIQUETA DE ORDENAR*/
#label-ordenar {
    display: none;                         /*Version mobile*/
}
/*BOTON DE ESTADISTICAS*/
#btn-stats{
    background: #0180CB;
    /*box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);*/
    border-radius: 95px;
    border: none;
    padding: 6px 12px;
    color: white;                               /*Color del texto del boton*/
    cursor: pointer;                              /*El cursor se vuelve una mano al posicionarse sobre el botón*/
    font-size: 0.75em;
    font-weight: bold;
}


/*MENÚ DE FILTROS FUNCIONALES*/
aside{
    display: flex;
    justify-content: center;
    text-align: center;
}
/*CONTENEDOR DE LOS FILTROS FUNCIONALES*/
aside .container{
    width: 90%;
    height: 130px;
    margin: 15px;
    columns:2;
    transition: display 0.6s;
}
/*LINEA "FILTRA A LAS MASCOTAS"*/
/*#filtra{
    background-color: #f7dc56;                  /*para que tenga el mismo color que la barra de filtro y orden*/
    /*border: none;                                 /*para que no tenga bordes*/
    /*padding: 0px;
    /*font-family: 'Poppins';
    /*font-weight: bold;                            /*pone en negrita la letra*/
    /*font-size: 16px;                              /*tamaño de la letra*/
    /*color: #045a8c;
}*/
/*SELECT DE LOS FILTROS*/
select{
    appearance: none;                         /*Especificar al navegador que no apliquen nignuna apariencia por defecto y poder editar el css*/
	text-align: center;
	cursor: pointer;
  	padding: 5px 7px;
  	height: 26px;
    width: 140px;
    background: #f0f0f0;
	color: #7b7b7b;
	font-size: 0.7em;
	color: #999;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease
}
select:hover{
    background: #B1E8CD;
}
/*CONTENDEDOR DE LA ETIQUETA Y EL SELECT*/
.div-select{
    /*border: 2px dashed red;*/
    max-width: 180px;
    margin: 6px 6px;
}
/*ETIQUETAS DE CADA FILTRO*/
.label{
    /*border: 2px dashed red;*/
    padding: 0;
    margin: 2px;
    font-family: 'Poppins';
    font-weight: bold;                            /*pone en negrita la letra*/
    font-size: 16px;                              /*tamaño de la letra*/
    color: #0180CB;
    cursor:pointer;
    font-size: 0.7em;
}
/*BOTON LIMPIAR FILTROS*/
#btnClear{                 
    background-color: #FFB80D;                  /*Color de fondo del boton*/
    color: white;                               /*Color del texto del boton*/                           
    /*border: 2px solid rgba(199, 16, 46, 0.5);*/
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;                              /*El cursor se vuelve una mano al posicionarse sobre el botón*/
    border-radius: 95px;                       /*Borde redondeado*/
    border:none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    margin: 10px;
}
#btnClear:hover {
  background-color: #d39401;
}






/*TARJETAS*/
/*SECTION QUE CONTIENE AL ul*/
#root {
    /*border: 2px solid black;*/
    padding: 0px;
    width: 100%;
}
/*ul QUE CONTIENE A LOS li*/
.flex-container {
    list-style: none;
    padding: 0px;
    /*border: 2px dashed red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

/*TARJETAS INDIVIDUALES - TEXTO*/
/*CONTENEDOR DE CADA TARJETA*/
#text-card {
    /*border: 2px dashed red;*/
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    /*flex-basis: 280px;*/
    gap: 10px;
    width: 343px;
    max-width: 343px;
    height: 644px;
    max-height: 644px;
    background-color: #FFFFFF;
    border-radius: 70px;
    box-shadow: 0px 3px 9.7px 3px rgba(0, 0, 0, 0.27);
}
/*CONTENEDOR DEL TEXTO*/
#text {
    /*border: 2px dashed rgb(0, 42, 255);*/
    display: flex;
    width: 290px;
    max-width: 290px;
    height: 280px;
    max-height: 280px;
    color: #333333;
    font-size: 14px;
}
/*ESTILO DE CADA PARTE DEL TEXTO*/
#spanName {
  color: #ffb80d;
  font-weight: bold;
  font-size: 20px;
}
#shortDesc{
    text-align: center;
    font-style: italic;
}
.spanFacts {
  color: #01387f;
  font-weight: bold;
}
.spanFunFact {
  font-style: italic;
}
.fun-fact {
  color: #01387f;
  font-weight: bold;
  font-style: italic;
}

/*IMAGENES*/
#divFondoPersonaje {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: beige;
  /* border: 1px solid; */
  border-radius: 70px 70px 0px 0px;
  max-width: 100%;
  height: 50%;
  max-height: 50%;
}
.imgPersonaje {
  display: flex;
  max-width: 100%;
  object-fit: cover;
  height: 75%;
  max-height: 75%;
}
footer .container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    background: radial-gradient(92.68% 92.68% at 50% 69.48%, #12BBF0 17%, #0180CB 66%, #01387F 100%);
}
footer p {
  font-size: 0.75em;
  text-align: center;
  padding: 3px;
  margin: 0px;
}


/*MODAL*/
.modal{
    position:fixed;
    top:0;                                       /*Estos 0 harán que ocupe el 100% de la página*/
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(95, 71, 14, 0.34);                 /*Color de fondo con transparencia (bd)*/
    display: flex;
    opacity: 0;                             /*Modal sea invisible en la pantalla, pero si qusieramos seleccionar algo no se puede porque porque sigue estando arriba de todo la pagina web*/
    pointer-events: none;                   /*Con esta propiedad ya se puede seleccionar a algun elemento de la pagina*/
    transition: opacity .6s;                /*Transicion a la opacidad para que tarde 6s en desaparecer y no sea de golpe el modal*/
}
/*CLASE PARA QUE SE VISUALICE EL MODAL (depsues de haberlo hecho invisible)*/
/*modal--show va a controlar la visibilidad o el estilo del modal*/
.modal--show{                                /*Es una clase modificadora. Queremos que modal tenga un modificador para que sea visible o no en nuestra ventana*/
    opacity: 1;                              /*Modal vuelve a ser visible*/
    pointer-events: unset;   
    transition: opacity .6s;                /*Transicion a la opacidad para que tarde 6s ser visible y no aparezca de golpe el modal*/
}
.modal-container{  
    /*border: 2px dashed rgb(251, 248, 93); */               
    margin: auto;                              /*Desktop*/    /*Porque su padre (modal) tiene un display flex*/
    width: 80%;
    height: 70%;
    /*max-height: 600px;                          /*Que la altura cubra el 70% siempre y cuando sea menor a 600px*/
    background-color: #01387F;  
    border-radius: 50px;    
    padding: 2em 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
    box-shadow: 0px 0px 14px 8px rgba(0, 0, 0, 0.4);
}
/*El margin auto es para que centre horizontal y verticalmente nuestro contenedor*/
/*TITULO DEL MODAL*/
.container-percentage{
    /*border: 2px dashed rgb(251, 93, 214);*/
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.title-modal{
    text-align: center;
    font-size: 1em;
    color: #E4F3FF;
}
/*TEXTO DE LOS PORCENTAJES*/
.stats-paragraph{
    margin: 10px;
    text-align: center;
    font-size: 0.8em;
    color: white;
    /*border: 2px dashed rgb(251, 93, 214);*/
}
/*TEXTO DE LOS PORCENTAJES*/
.valor{
    color: #FCCA51;
    font-weight: 600;
}
.porcentaje{ 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    color: #FCCA51;
}
/*BOTON PARA BORRAR EL MODAL*/
.modal-close{
    text-decoration: none;
    background-color: #FFB80D;                  /*Color de fondo del boton*/
    color: white;                               /*Color del texto del boton*/                           
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;                              /*El cursor se vuelve una mano al posicionarse sobre el botón*/
    border-radius: 95px;                       /*Borde redondeado*/
    border:none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 8px;
    margin: 10px;
    width: 40%;
}
 


/*TABLET*/
@media (min-width:768px){                   /*Cuando la pantalla supere los 768px se ejecturaran las siguientes condiciones*/
    #barra-filtro-ordenar {
        height: 4.75vh;
    }
    i{
       font-size: 20px; 
       border: 3px solid #FFB80D; 
    }
    #div-ordenar {
        flex-direction: row-reverse;
    }
    #label-ordenar {
        font-family: 'Poppins';
        font-weight: bold;                            /*pone en negrita la letra*/
        font-size: 17px;                              /*tamaño de la letra*/
        color: #0180CB;
        display: block;                         
    }
    #div-filtro {
        gap: 12px;
        flex-direction: row-reverse;
    }
    .label-filtro{
        font-family: 'Poppins';
        font-weight: bold;                            /*pone en negrita la letra*/
        font-size: 17px;                              /*tamaño de la letra*/
        color: #0180CB;
        display: block;
    }
    #btn-stats{
        font-size: 16px;
        width: 20vw;
        height: 2.75vh;
    }
    aside .container{
        height: 6vh;
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    select{
        height: 30px;
        width: 140px;
        font-size: 0.9em;
    }
    select:hover{
        background: #B1E8CD;
    }
    #btnClear{
        margin: 15px;
        width: 140px;
        max-height: 40px;
    }
    .label{
        font-size: 0.85em;
    }
    .flex-container {
        flex-direction: row;
    }
    footer .container{
        height: 6vh;
    }
    footer p{
        font-size: 0.9em;
        text-align: center;   
    }
    .modal-container{  
        margin: auto;                                /*Porque su padre (modal) tiene un display flex*/
        width: 50%;
        height: 70%;
        padding: 3em;
    }
    .title-modal{
        font-size: 1.6em;
    }
    .stats-paragraph{
        font-size: 1.1em;
        /*border: 2px dashed rgb(251, 93, 214);*/
    }
    /*BOTON PARA BORRAR EL MODAL*/
    .modal-close{
        font-size: 1.1em;
    }
}


/*PC*/
@media(min-width:1024px){                  /*Cuando la pantalla supere los 1024px se ejecturaran las siguientes condiciones*/
    header .container{
        width: 80%;
    } 
    #barra-filtro-ordenar {
        padding: 0px 8px;
        height: 7.5vh;
        flex-direction: row;
    }
    i{
       font-size: 18px; 
       border: 3px solid #FFB80D; 
    }
    #div-ordenar {
        flex-direction: row;
    }
    #label-ordenar {
        font-family: 'Poppins';
        font-weight: bold;                            /*pone en negrita la letra*/
        font-size: 16px;                              /*tamaño de la letra*/
        color: #0180CB;
        display: block;                         
    }
    #div-filtro {
        gap: 12px;
        flex-direction: row;
    }
    .label-filtro{
        font-family: 'Poppins';
        font-weight: bold;                            /*pone en negrita la letra*/
        font-size: 16px;                              /*tamaño de la letra*/
        color: #0180CB;
        display: block;
    }
    #btn-stats{
        font-size: 16px;
        width: 15vw;
        height: 5vh;
    }
    aside .container{
        /*border: 2px dashed rgb(0, 255, 81);*/
        height: 12vh;
        padding: 0px 8px;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 15px;
    }
    select{
        height: 30px;
        width: 140px;
        font-size: 0.9em;
    }
    select:hover{
        background: #B1E8CD;
    }
    #btnClear{
        margin: 15px;
        width: 140px;
        max-height: 40px;
        font-size: 13px;
    }
    .label{
        font-size: 0.9em;
    }
    .flex-container {
        flex-direction: row;
    }
    footer .container{
        height: 6vh;
    }
    footer p{
        font-size: 0.9em;
        text-align: center;   
    }
    .modal-container{
        margin: auto;                              /*Desktop*/    /*Porque su padre (modal) tiene un display flex*/
        width: 70%;
        height: 45vh;   
        padding: 2em;
        justify-content: space-between;
    }
    .container-percentage{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .title-modal{
        font-size: 1.1em;
    }
    .stats-paragraph{
        font-size: 0.8em;
        /*border: 2px dashed rgb(251, 93, 214);*/
    }
    /*BOTON PARA BORRAR EL MODAL*/
    .modal-close{
        width: 20%;
        font-size: 0.9em;
    }
}

